# build system stuff
m4/argz.m4
m4/libtool.m4
m4/ltdl.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
src/config.h*
.deps
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
/config.*
configure
depcomp
install-sh
missing
stamp-h1
version
ylwrap

# ltdl stuff
libltdl
libtool
ltmain.sh

# build output
src/frontend/grammar.c
src/frontend/grammar.h
src/frontend/scanner.c
src/liboconfig/parser.c
src/liboconfig/parser.h
src/liboconfig/scanner.c
src/tools/sysdb/scanner.c
src/sysdb
src/sysdbd
.dirstamp
.libs
*.a
*.la
*.lo
*.o
sysdbd.1
sysdbd.conf.5
sysdb.h

# unit testing output
t/libsysdb_test
t/libsysdb_net_test
t/*.log
t/*.trs
test-driver
