#
# Sample configuration file for the System DataBase daemon (SysDBd).
#

#----------------------------------------------------------------------------#
# Global options:                                                            #
# This section defines global settings and default values for the daemon.    #
#----------------------------------------------------------------------------#

# default interval used for actively polling plugins
Interval 300

#----------------------------------------------------------------------------#
# Plugins:                                                                   #
# Plugins are the working horses of SysDB. Load any of the following plugins #
# to active the respective feature.                                          #
#                                                                            #
# "Backends" are plugins which collect information to be stored in SysDB     #
# while other plugins may add additional features to the daemon. Each        #
# backend may use its own custom query interval by specifying the 'Interval' #
# option:                                                                    #
#   <LoadBackend "foo">                                                      #
#       Interval 60                                                          #
#   </LoadPlugin>                                                            #
#----------------------------------------------------------------------------#

LoadBackend "collectd"
LoadBackend "mk-livestatus"
LoadBackend "puppet-storeconfigs"

#----------------------------------------------------------------------------#
# Plugin configuration:                                                      #
#----------------------------------------------------------------------------#

<Backend "collectd">
	<Instance "central-collector">
		Socket "/var/run/collectd-unixsock"
	</Instance>
</Backend>

<Backend "mk-livestatus">
	<Instance "nagios4-master">
		Socket "/var/lib/nagios4/rw/live"
	</Instance>
</Backend>

<Backend "puppet-storeconfigs">
	<Connection "puppet">
		DBAdapter "pgsql"
		DBName "puppet"
		DBServer "puppet.domain.tld"
		DBPort "5432"
		DBUser "puppet"
		DBPassword "secret1"
		DBIOption "name" "value"
	</Connection>
</Backend>

