/*
 * SysDB - CSS stylesheet for manpages
 */

body {
	margin: 1em 5% 1em 5%;
	line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
	color: #527bbd;
	font-family: sans-serif;
}

body h1 {
	border-bottom: 2px solid silver;
}

body h2 {
	border-bottom: 2px solid silver;
}

body pre {
	margin: 0.5em 10% 0.5em 1em;
	line-height: 1.0;
	color: navy;
}

/* vim: set tw=78 sw=4 ts=4 noexpandtab : */

