#
# Sample configuration file for the System DataBase daemon (SysDBd).
#

#============================================================================#
# Global options:                                                            #
# This section defines global settings and default values for the daemon.    #
#============================================================================#

# default interval used for actively polling plugins
Interval 300

#============================================================================#
# Logging settings:                                                          #
# These plugins should be loaded first. Else, any log messages will be       #
# written to the standard error channel which is closed after the daemon has #
# started.                                                                   #
#============================================================================#
LoadPlugin "syslog"

#============================================================================#
# Plugins:                                                                   #
# Plugins are the working horses of SysDB. Load any of the following plugins #
# to active the respective feature.                                          #
#============================================================================#

#----------------------------------------------------------------------------#
# "cname" plugins canonicalize hostnames before actually storing them. All   #
# cname callbacks are applied to an hostname in the order in which they have #
# been loaded, each receiving the result of the previous call.               #
#----------------------------------------------------------------------------#
LoadPlugin "cname::dns"

#----------------------------------------------------------------------------#
# "Backends" are plugins which collect information to be stored in SysDB.    #
# Each backend may use its own custom query interval by specifying the       #
# 'Interval' option:                                                         #
#   <LoadBackend "foo">                                                      #
#       Interval 60                                                          #
#   </LoadPlugin>                                                            #
#----------------------------------------------------------------------------#
LoadBackend "collectd::unixsock"
LoadBackend "mk-livestatus"
LoadBackend "puppet::store-configs"

#----------------------------------------------------------------------------#
# Plugin configuration:                                                      #
#----------------------------------------------------------------------------#

<Backend "collectd::unixsock">
	<Instance "central-collector">
		Socket "/var/run/collectd-unixsock"
	</Instance>
</Backend>

<Backend "mk-livestatus">
	<Instance "nagios4-master">
		Socket "/var/lib/nagios4/rw/live"
	</Instance>
</Backend>

<Backend "puppet::store-configs">
	<Connection "puppet">
		DBAdapter "pgsql"
		DBName "puppet"
		DBServer "puppet.domain.tld"
		DBPort "5432"
		DBUser "puppet"
		DBPassword "secret1"
		DBIOption "name" "value"
	</Connection>
</Backend>

